html,
body,
.wrap {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

header {
  width: 100%;
  height: 50px;
  background: rgba(225, 225, 225, 0.1);
  display: flex;
  align-items: center;
  padding: 0 10px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
}

header a {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: block;
  background: #fff;
  opacity: 0.7;
  text-align: center;
  color: #888;
}

header a .icon {
  line-height: 30px;
  font-size: 19px;
}

header div {
  flex: 1;
  padding: 0 10px;
  position: relative;
}

header div .icon-fangdajing {
  position: absolute;
  left: 22px;
  top: 8px;
  color: #888;
}

header div input {
  width: 100%;
  height: 30px;
  border-radius: 15px;
  opacity: 0.6;
  text-indent: 32px;
}

header div > input::-webkit-input-placeholder {
  color: #888;
}

section {
  flex: 1;
  overflow: hidden;
}

.scroll {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  position: relative;
}

.banner {
  width: 100%;
}

.banner .big {
  width: 100%;
}

.banner .big .banImg {
  width: 100%;
}

.banner .big .banImg img {
  width: 100%;
  height: auto;
  display: block;
}

.imggage {
  width: 100%;
  height: auto;
}

.imggage img {
  width: 100%;
  height: auto;
  display: block;
}

.con-list {
  width: 100%;
  height: 1.2rem;
  background: #f7f7f7;
  display: flex;
}

.con-list .list-qian {
  width: 20%;
  text-align: center;
}

.con-list .list-qian h3 {
  font-size: 24px;
  font-weight: 600;
  margin-top: 20px;
}

.con-list .list-qian h6 {
  line-height: 30px;
}

.con-list .list-qian img {
  width: 50%;
  height: auto;
}

.con-list .list-zhong {
  width: 60%;
  height: 100%;
  background: #fff;
}

.con-list .list-zhong dl {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.con-list .list-zhong dl dd {
  width: 57%;
}

.con-list .list-zhong dl dd h5 {
  width: 100%;
  height: 30px;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.con-list .list-zhong dl dd h5 img {
  width: 30px;
  height: auto;
  display: block;
}

.con-list .list-zhong dl dd p {
  color: #999999;
  font-size: 15px;
}

.con-list .list-zhong dl dt {
  width: 40%;
  height: auto;
}

.con-list .list-zhong dl dt img {
  width: 100%;
  height: auto;
  display: block;
}

.list {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}

.list li {
  width: 20%;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.list li i.icon {
  height: 50px;
  line-height: 50px;
  font-size: 30px;
}

.list li a {
  height: 20px;
  line-height: 20px;
  color: #333;
}

.list li:nth-child(1) i.icon {
  color: #f90;
}

.list li:nth-child(2) i.icon {
  color: #f10;
}

.list li:nth-child(3) i.icon {
  color: #f50;
}

.list li:nth-child(4) i.icon {
  color: lime;
}

.list li:nth-child(5) i.icon {
  color: #a200ff;
}

.list li:nth-child(6) i.icon {
  color: #ff006a;
}

.list li:nth-child(7) i.icon {
  color: #984676;
}

.list li:nth-child(8) i.icon {
  color: #0ff;
}

.list li:nth-child(9) i.icon {
  color: #5E6C90;
}

.list li:nth-child(10) i.icon {
  color: #ea00ff;
}

footer {
  width: 100%;
  height: 55px;
  display: flex;
  border-top: 1px solid #eee;
}

footer a {
  flex: 1;
  color: #666;
  text-align: center;
  font-size: 12px;
}

footer a .icon {
  display: block;
  font-size: 24px;
  margin-top: 5px;
}

footer a.on {
  color: red;
  overflow: hidden;
}
